*.RData~

*.history

.Rhistory

*.Rda
*.RData

analyses/bb_analysis/cleaning/clean_ambientforcing.R

analyses/output/pmp/percbb.csv

*.rds

*.log
*.out
*.synctex.gz
*.aux
analyses/output/fieldclimate_pmp.RData

analyses/output/fieldclimate_pmp.RData

*.bbl

analyses/output/ospree_clean_withchill.csv

analyses/output/dailyclim/percbb_dailyclim.csv
