*.Rdata
*.RData
*.Rda
*.rds
*.rda
*.Rds
*.Rhistory
analyses/.Rhistory

analyses/output/dailyclim/percbb_dailyclimALL.csv

analyses/output/dailyclim/percbb.csv

*.xlsx

*.log

*.aux

*.log

*.log

docs/limitingcues/limitingcues_AKE.pdf

docs/limitingcues/limitingcues_old.pdf
